@import 'tailwindcss';

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}
/*
@media (prefers-color-scheme: dark) {
    :root {
        --background: #ffffff;
        --foreground: #171717;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    height: 2px;
    border: none;
    background-color: #ccc; /* Light gray line */
    margin: 10px 0; /* Add spacing above and below */
    width: 100%;
}

button {
    cursor: pointer;
}

textarea {
    field-sizing: content;
}
